

 @font-face {
  font-family: "方正舒体";
  src: url('./方正舒体简体.ttf');
 
}
@font-face {
  font-family: "方正姚体";
  src: url('./方正姚体.ttf');
 
}@font-face {
  font-family: "华文行楷";
  src: url('./华文行楷.ttf');
 
}@font-face {
  font-family: "华文中宋";
  src: url('./华文中宋.ttf');
 
}@font-face {
  font-family: "幼圆";
  src: url('./幼圆.ttf');
 
}@font-face {
  font-family: "隶书";
  src: url('./隶书.ttf');
 
} 