$blue: #3190e8;
$bc: #e6e6e6;
$wt: #fff;

$title-main: #4a4e59;

$bnbc0: #00c477;
$bnbc1: #f0f0f0;
$menutbc0: #f7f7f7;

$bntext0: #fff;
$bntext1: #666666;

$menutext1: #333333;
$menutext0: #56bc75;

$headtext: #3a4043;

@function rempx($px) {
  @return $px/20 * 1rem;
}
@function rem($px) {
  @return $px/100 * 1rem;
}
// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
//定位全屏
@mixin allcover {
  position: absolute;
  top: 0;
  right: 0;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//定位上下居中
@mixin cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: "Microsoft YaHei") {
  font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color) {
  font-size: $size;
  color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
  display: -ms-flex;display:flex;
  justify-content: $type;
}

// base64图标
@mixin icon($w, $h, $bg_2x, $bg_3x) {
  width: $w;
  height: $h;
  background: image-set(url($bg_2x) 1x, url($bg_2x) 2x, url($bg_3x) 3x) no-repeat center / 100%;
}

._ellipsis {
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
}

// 文字隐藏
@mixin text-ellipsis($width: 100%) {
  width: $width;
  @extend ._ellipsis;
  @content;
}

@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-indent: -9999px;
}
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.ellipsis1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.ellipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}

.ellipsis4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
// shawn
.el-button--primary{
  background-color:#F76A0D;
  border-color:#F76A0D;
}
.el-button--primary:focus, .el-button--primary:hover{
  background-color:#F76A0D;
  border-color:#F76A0D;
}
