@import "~assets/css/mixin";
#template
{
 width: 100%;
 height: 100%;
 .serchCondition{
     width: 100%;
     height: rempx(40);
     display: -ms-flex;display:flex;
     justify-content: flex-start;
     align-items: center;
     position: relative;
     .number{
        position: absolute;
        right: rempx(90);
        .fontColor1{
            color: #848484;
            font-size: 0.8rem;
        }
        .fontColor{
            color: #F76A0D;
            font-size: 0.8rem;
        }
     }
     .addBtn{
         width: rempx(80);
         height: rempx(40);
         line-height: rempx(40);
         border-radius: rempx(4);
         text-align: center;
         color: #fff;
         font-size: rempx(16);
         background-color:#F76A0D;
         cursor: pointer;
         position: absolute;
         right: 0;
     }
     .addBtn1{
        width: rempx(80);
        height: rempx(40);
        line-height: rempx(40);
        border-radius: rempx(4);
        text-align: center;
        color: #fff;
        font-size: rempx(16);
        background-color:#848484;
        cursor: pointer;
        position: absolute;
        right: 0;
     }
     .out{
         margin-right: rempx(10);
     }
     .el-range-editor.el-input__inner{
         width: rempx(266);
         height: rempx(40);
         padding: rempx(3) rempx(10);
     }
     .el-select{
         font-size: rempx(14);
         width:rempx(180);
         height: rempx(40);
     }
     .servhBtn{
         width: rempx(80);
         height: rempx(40);
         line-height: rempx(40);
         border-radius: rempx(4);
         color: #fff;
         background-color:#F76A0D;
         font-size: rempx(16);
         text-align: center;
         cursor: pointer;
     }
 }
 .main{
     margin-top: rempx(52);
     .color{
         color: #F76A0D;
         padding-left: rempx(10);
         cursor: pointer;
     }
     .optionOne{
         color: #C8C8C8;
         font-size: rempx(14);
         padding-right: rempx(10);
     }
     .more{
         color: #F76A0D;
         font-size: rempx(14);
         cursor: pointer;
         .componentsListOut{
             width: 100%;
             .componentsListOutRow{
                margin-bottom: rempx(26);
            }
         }
         
     }
 }
}